{% extends 'base.html' %}

{% block body %}
<div class="banner bg-home"></div>
<div class="main-container" id="appRoute">
    <div class="section">
        <div class="heading">
            <div class="d-flex flex-wrap align-items-end">
                <div class="flex-grow-1">
                    <h4>Les albums - {{ total }} Albums</h4>
                </div>
            </div>
            <hr>
        </div>

        <div class="row section">
            {% for album in albums %}
            <div class="col-xl-2 col-lg-4 col-sm-6 pb-4">
                <div class="custom-card">
                    <div class="custom-card--img">
                        <a href="{{ url_for('album', id=album.album_id) }}" class="external">
                            <img src="{{ url_for('static', filename='artist_2.jpg') }}" alt="{{ album.title }}" class="card-img--radius-lg">
                        </a>
                    </div>

                    <a href="{{ url_for('album', id=album.album_id) }}" class="custom-card--link mt-2">
                        <h6>{{ album.title }}</h6>
                        <p>{{ album.artist.name }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}